<ion-view view-title="Resources">
  <ion-content class="has-header">
    <div>
      <h3>Walk Safe</h3>
      <img src="img/walksafe.png" style="width:100%" ng-href="#" onclick="window.open('http://walksafe.ca/', '_system', 'location=yes'); return false;">
      <h3>Drive Safe</h3>
      <img src="img/drivesafe.png" style="width:50%" ng-href="#" onclick="window.open('http://ssmu.mcgill.ca/drivesafe/contact-us/', '_system', 'location=yes'); return false;">
      <h3>McGill Security Services</h3>
      <img src="img/ss.png" style="width:100%" ng-href="#" onclick="window.open('http://wwww.mcgill.ca/campussafety/security-services/', '_system', 'location=yes'); return false;">
      <h3>MSERT</h3>
      <img src="img/msert.png" style="width:50%" ng-href="#" onclick="window.open('http://www.msert.net/contact.html/', '_system', 'location=yes'); return false;">
    </div>
  </ion-content>
</ion-view>
