<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Login</h1>
    </ion-header-bar>
    <link href="css/style.css" rel="stylesheet">
    <ion-content class="padding">
    <div class="body">
        <img src="img/cde_logo.png" style="width:95%">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="dataEntered.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="dataEntered.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="Login()">Login</button>
        <button class="button button-block button-calm" ng-click="Register()">Register</button>
        <button class="button button-block button-calm" ng-click="goFrench()">Appuyer pour aller en Français!</button>
      </div>
    </ion-content>
</ion-modal-view>
