<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Login</h1>
    </ion-header-bar>
    <link href="css/style.css" rel="stylesheet">
    <ion-content class="padding">
      <div class="background">
        <div class="frenchButton icon-right" ng-click="goFrench()"><b>FR</b></div>
    <div class="bodyLogin">
        <img src="img/cde_logo.png" style="width:95%">
        <div class="list list-inset">
            <label class="item item-input login">
                <input type="text" placeholder="Username" ng-model="dataEntered.username">
            </label>
            <label class="item item-input login">
                <input type="password" placeholder="Password" ng-model="dataEntered.password">
            </label>
        </div>
      <div class="buttonLogin">
        <button class="button" ng-click="Login()">Login</button>
        <button class="button" ng-click="Register()">Register</button>
        <!--<button class="button" ng-click="goFrench()">Français</button>-->
        </div>
      </div>
      </div>
    </ion-content>
</ion-modal-view>
