<ion-modal-view>
    <link href="css/style.css" rel="stylesheet">
    <ion-content class="padding">
      <div class="background">
        <div class="frenchButton icon-right" ng-click="goEnglish()">
            <b>EN</b>
        </div>
    <div class="bodyLogin">
        <img src="img/cde_logo.png" style="width:95%; margin-top: 15%;">
        <div class="list list-inset">
            <label class="item item-input login">
                <input type="text" placeholder="Nom d'Utilisateur" ng-model="dataEntered.username">
            </label>
            <label class="item item-input login">
                <input type="password" placeholder="Mot de Passe" ng-model="dataEntered.password">
            </label>
        </div>
      <div class="buttonLogin">
        <button style="margin-left: -10px;" class="button padding-5-button" ng-click="Login()">Authentification</button>
        <button style="margin-right: -10px;" class="button padding-5-button" ng-click="Register()">Enregistrement</button>
        <!--<button class="button" ng-click="goFrench()">Français</button>-->
        </div>
      </div>
      </div>
    </ion-content>
</ion-modal-view>
