<div ng-show="currentLanguage != 'french'">
	<ion-view view-title="Logout">
    	<ion-content class="has-header">
			<ion-modal-view>
			  <ion-header-bar>
			    <h1 class="title">Logout</h1>
			  </ion-header-bar>
			  <ion-content class="padding">
			  	<button class="button button-block button-calm col text-center" ng-click="Logout()">Logout</button>
			  </ion-content>
			</ion-modal-view>
		</ion-content>
	</ion-view>
</div>
<div ng-show="currentLanguage == 'french'">
	<ion-view view-title="Déconnexion">
    	<ion-content class="has-header">
			<ion-modal-view>
				  <ion-header-bar>
				    <h1 class="title">Déconnexion</h1>
				  </ion-header-bar>
				  <ion-content class="padding">
				  	<button class="button button-block button-calm col text-center" ng-click="Logout()">Déconnexion</button>
				  </ion-content>
			</ion-modal-view>
		</ion-content>
	</ion-view>
</div>
