<ion-view view-title="Fil d'Actualité">
  <!-- <ion-view title='<img class="title-image" src="images/kidsintouchtext.png" />'> -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
      <link href="css/ionicons.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <ion-content class="has-header">
      <ion-refresher on-refresh="refreshNewsfeed()"></ion-refresher>
      <div class="bodyNewsfeed">
      <div class="item">
        <div class="user-name">
        Bonjour {{userName}} !
      </div>



    <div class="item item-input-inset">
        <label class="item item-input-wrapper">
            <input type="text" id=0 placeholder="À quoi pensez-vous?">
        </label>
        <button class="button" id="postButton" ng-click="postComment(0)">Publier</button>
    </div>

          <ion-list>
            <ion-item class="newsfeed" ng-repeat="item in entry" ng-hide="item.commentid != '0'">
              <div class="card" style="margin-top:1%">
              <div class="user-post">{{item.name}}<br></div>
              <div class="comment-date">{{item.date}}<br></div>
              <div class="comment-content">{{item.content}}<br></div>
                  </br>
              <button class="button" id="likeButton" ng-click="like(item.likes, item.id)">
                <i class="ion-heart"></i>
              {{item.likes}}<br></button>
              <button class="button" id="commentButton" ng-click="postComment({{item.id}})">
                <i class="ion-chatbubble"></i>
                Commenter</button>
              </br>
              <label class="item item-input" id="commentBoxFrame">
                <input type="text" style="background-color: #EEEEEE;margin-left: -17px;padding: 17px;min-height: 47px" id={{item.id}} placeholder="À vous de répondre...">
              </label>
                <ion-item ng-repeat="comment in comments" ng-if="item.id == comment.commentid">
                  {{comment.name}}<br>
                  <div class="comment-date">{{comment.date}}<br></div>
                  <div class="comment-content">{{comment.content}}<br></div>
                </ion-item>
                </div>
            </ion-item>
          </ion-list>
          <button class="button" style="margin-left: 20%" ng-click="showMore()">Autres Commentaires</button>
        </div>
    </ion-content>
</ion-view>
