<ion-view view-title="NewsFeed">
  <ion-content class="has-header">
        <!-- <div class="list card"> -->
            <!-- <div class="item">
              <div class="w3-card-2"><p>
                {{userName}}
                <ion-list>
                  <ion-item ng-repeat="item in entry">
                    {{item.date}}<br>
                    {{names[$index]}}<br>
                    {{item.content}}<br>
                  </ion-item>
                  <ion-item ng-repeat="name in names track by $index">
                    {{name}}<br>
                    {{$index}}
                  </ion-item>
                </ion-list>
              </p></div>
            </div> -->

          <ion-refresher on-refresh="doRefresh()"></ion-refresher>
          <ion-list>
            <ion-item class="item-avatar" ng-repeat="item in items">
              <!-- <img src="{{item.user.picture.thumbnail}} " /> -->
              {{item.user.name.first}} {{item.user.name.last}}
              <p>{{item.user.location.city}} {{item.user.password}}</p>
            </ion-item>
          </ion-list>
        <!-- </div> -->
    </ion-content>
</ion-view>
