<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Options</h1>
  </ion-header-bar>
  	<div ng-show="currentLanguage != 'french'">
	  <ion-content class="padding">
	  	<button class="button button-block button-calm col text-center" ng-click="goFrench()">Press to go French!</button>
	  </ion-content>
	</div>
	<div ng-show="currentLanguage == 'french'">
	  <ion-content class="padding">
	  	<button class="button button-block button-calm col text-center" ng-click="goEnglish()">Appuyer pour continuer en Anglais!</button>
	  </ion-content>
	</div>
</ion-modal-view>
