<ion-view view-title="Commenditaires">
    <ion-content class="has-header">
      <div>
        <p>Partenaires</p>
        <img src="../img/potash.jpg" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Or</p>
        <img src="../img/euslogo.jpg" style="width:95%">
        <p></p>
        <img src="../img/siemens.jpg" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Argent</p>
        <img src="../img/bell.jpg" style="width:95%">
        <p></p>
        <img src="../img/sap.png" style="width:95%">
        <p></p>
        <img src="../img/mtl.png" style="width:95%">
        <p></p>
        <img src="../img/shopify.png" style="width:95%">
        <p></p>
        <img src="../img/engcan.png.png" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Bronze</p>
        <img src="../img/faculteng.png" style="width:95%">
        <p></p>
        <img src="../img/fm.png" style="width:95%">
      </div>
      <div>
        <p>Commenditaires</p>
        <img src="../img/mda.jpg" style="width:95%">
        <p></p>
        <img src="../img/morganstanley.jpg" style="width:95%">
        <p></p>
        <img src="../img/ge.jpg" style="width:95%">
        <p></p>
        <img src="../img/google.png" style="width:95%">
        <p></p>
        <img src="../img/fdr.jpg" style="width:95%">
        <p></p>
        <img src="../img/csis.jpg" style="width:95%">
        <p></p>
        <img src="../img/pomerleau.jpg" style="width:95%">
        <p></p>
        <img src="../img/td.jpg" style="width:95%">
      </div>
    </ion-content>
  </ion-view>