  <ion-view view-title="Sponsors">
    <ion-content class="has-header">
      <div class="sponsors-spacing" style="padding-bottom:5%">
        <h1 style="text-align:center;margin-top:10%"><b>Partner</b></h1>
        <img src="img/potash.jpg" style="width:100%;margin-left:auto;margin-right:auto">
      </div>
      <div class="sponsors-spacing" style="margin-top:10%; padding-bottom:5%">
        <h1 style="text-align:center"><b>Gold Sponsors</b></h1><br>
        <img class="spimg" src="img/euslogo.jpg" style="width:40%;margin-left:auto;margin-right:auto">
        <p></p>
        <img class="spimg" src="img/siemens.jpg" style="width:80%;margin-left:auto;margin-right:auto">
      </div>
      <div class="sponsors-spacing" style="margin-top:10%; padding-bottom:10%">
        <h2 style="text-align:center"><b>Silver Sponsors</b></h2><br>
        <table style="width:95%;text-align:center" class="supporters">
          <tr>
            <td style="width:46%;margin-bottom:5%"><img src="img/bell.jpg" style="width:80%"></td>
            <td style="width:8%"></td>
            <td style="width:46%;margin-bottom:5%"><img src="img/sap.png" style="width:80%"></td>
          </tr>
          <tr>
            <td style="width:46%;margin-bottom:5%"><img src="img/mtl.png" style="width:100%"></td>
            <td style="width:8%"></td>
            <td style="width:46%;margin-bottom:5%"><img src="img/shopify.png" style="width:100%"></td>
          </tr>
          <tr>
            <td style="width:46%"><img src="img/engcan.png" style="width:100%"></td>
          </tr>
        </table>
      </div>
      <div class="sponsors-spacing" style="margin-top:10%; padding-bottom:10%">
        <h2 style="text-align:center"><b>Bronze Sponsors</b></h2><br>
        <table style="width:95%;text-align:center" class="supporters">
          <tr>
            <td style="width:46%"><img src="img/faculteng.png" style="width:100%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/fm.png" style="width:80%"></td>
          </tr>
        </table>
      </div>
      <div style="margin-top:10%; margin-bottom:10%">
        <h2 style="text-align:center"><b>Supporters</b></h2><br>
        <table style="width:95%;text-align:center" class="supporters">
          <tr>
            <td style="width:46%"><img src="img/mda.jpg" style="width:100%;margin-bottom:5%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/ge.jpg" style="width:100%;margin-bottom:5%"></td>
          </tr>
          <tr>
            <td style="width:46%"><img src="img/ge.jpg" style="width:100%;margin-bottom:5%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/google.png" style="width:100%;margin-bottom:5%"></td>
          </tr>
          <tr>

            <td style="width:46%"><img src="img/fdr.jpg" style="width:100%;margin-bottom:5%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/csis.jpg" style="width:100%;margin-bottom:5%"></td>
          </tr>
          <tr>
            <td style="width:46%"><img src="img/pomerleau.jpg" style="width:100%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/td.jpg" style="width:70%"></td>
          </tr>
        </table>
      </div>
     </ion-content>
  </ion-view>
</div>
