<div ng-show="currentLanguage != 'french'">
  <ion-view view-title="Sponsors">
    <ion-content class="has-header">
      <div class="popupTitle">
        <h3>Sponsors</h3>
      </div>
      <div>
        <p>Partner</p>
        <img src="../img/potash.jpg" style="width:95%">
      </div>
      <div>
        <p>Gold Sponsors</p>
        <img src="../img/euslogo.jpg" style="width:95%">
      </div>
      <div>
        <p>Silver Sponsors</p>
        <img src="../img/bell.jpg" style="width:95%">
        <p></p>
        <img src="../img/sap.png" style="width:95%">
      </div>
      <div>
        <p>Supporters</p>
        <img src="../img/mda.jpg" style="width:95%">
        <p></p>
        <img src="../img/morganstanley.jpg" style="width:95%">
        <p></p>
        <img src="../img/ge.jpg" style="width:95%">
        <p></p>
        <img src="../img/google.png" style="width:95%">
        <p></p>
        <img src="../img/fdr.jpg" style="width:95%">
        <p></p>
        <img src="../img/csis.jpg" style="width:95%">
        <p></p>
        <img src="../img/pomerleau.jpg" style="width:95%">
      </div>
    </ion-content>
  </ion-view>
</div>

<div ng-show="currentLanguage == 'french'">
  <ion-view view-title="Sponsors">
    <ion-content class="has-header">
      <div class="popupTitle">
        <h3>Commenditaires</h3>
      </div>
      <div>
        <p>Partenaires</p>
        <img src="../img/potash.jpg" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Or</p>
        <img src="../img/euslogo.jpg" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Argent</p>
        <img src="../img/bell.jpg" style="width:95%">
        <p></p>
        <img src="../img/sap.png" style="width:95%">
      </div>
      <div>
        <p>Commenditaires Bronze</p>
        <img src="../img/mda.jpg" style="width:95%">
        <p></p>
        <img src="../img/morganstanley.jpg" style="width:95%">
        <p></p>
        <img src="../img/ge.jpg" style="width:95%">
        <p></p>
        <img src="../img/google.png" style="width:95%">
        <p></p>
        <img src="../img/fdr.jpg" style="width:95%">
        <p></p>
        <img src="../img/csis.jpg" style="width:95%">
        <p></p>
        <img src="../img/pomerleau.jpg" style="width:95%">
      </div>
    </ion-content>
  </ion-view>
</div>