  <ion-view view-title="Sponsors">
    <ion-content class="has-header">
         
      <div class="sponsors-spacing">
<!--          <ion-scroll direction="y" >-->
        <h1 style="text-align:center;margin-top:8%"><b>PARTNER</b></h1>
        <img src="img/potash.jpg" style="width:100%;margin-left:auto;margin-right:auto;margin-top: -5px;">
      </div>
      <div class="sponsors-spacing" style="margin-top:8%;">
        <h1 style="text-align:center"><b>GOLD SPONSORS</b></h1><br>
        <img class="spimg" src="img/euslogo.jpg" style="width:40%;margin-left:auto;margin-right:auto">
        <p></p>
        <img class="spimg" src="img/siemens.jpg" style="width:80%;margin-left:auto;margin-right:auto">
      </div>
      <div class="sponsors-spacing" style="margin-top:8%; padding-bottom:8%">
        <h2 style="text-align:center"><b>SILVER SPONSORS</b></h2><br>
        <table style="width:95%;text-align:center" class="supporters">
          <tr>
            <td style="width:46%;margin-bottom:5%"><img src="img/bell.jpg" style="width:80%;padding-bottom: 15%;"></td>
            <td style="width:8%"></td>
            <td style="width:46%;margin-bottom:5%"><img src="img/sap.png" style="width:80%;padding-bottom: 15%;"></td>
          </tr>
          <tr>
            <td style="width:46%;margin-bottom:5%"><img src="img/mtl.png" style="width:100%"></td>
            <td style="width:8%"></td>
            <td style="width:46%;margin-bottom:5%"><img src="img/shopify.png" style="width:100%"></td>
          </tr>
<!--
          <tr align="center">
            <img src="img/engcan.png" style="width:46%%;padding-top: 5%;">
          </tr>
-->
        </table>
        <img class="spimg" src="img/engcan.png" style="width:46%;margin-left:auto;margin-right:auto; padding-top: 5%;">  
      </div>
      <div class="sponsors-spacing" style="margin-top:8%; padding-bottom:8%">
        <h2 style="text-align:center"><b>BRONZE SPONSORS</b></h2><br>
        <table style="width:95%;text-align:center;margin-top:-12px;" class="supporters">
          <tr>
            <td style="width:46%"><img src="img/faculteng.png" style="width:100%;margin-bottom: 25px;"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/fm.png" style="width:80%"></td>
          </tr>
        </table>
      </div>
      <div style="margin-top:8%; margin-bottom:8%">
        <h2 style="text-align:center"><b>SUPPORTERS</b></h2><br>
        <table style="width:95%;text-align:center;margin-top:-12px;" class="supporters">
          <tr>
            <td style="width:46%"><img src="img/mda.jpg" style="width:100%;margin-bottom:8%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/ge.jpg" style="width:100%;margin-bottom:5%"></td>
          </tr>
          <tr>
            <td style="width:46%"><img src="img/morganstanley.jpg" style="width:100%;margin-bottom:15%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/google.png" style="width:100%;margin-bottom:5%;padding-top: 10px;"></td>
          </tr>
          <tr>

            <td style="width:46%"><img src="img/fdr.jpg" style="width:100%;margin-bottom:5%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/csis.jpg" style="width:100%;margin-top:5%"></td>
          </tr>
          <tr>
            <td style="width:46%"><img src="img/pomerleau.jpg" style="width:100%;margin-bottom:15%"></td>
            <td style="width:8%"></td>
            <td style="width:46%"><img src="img/td.jpg" style="width:70%;margin-top:15%;"></td>
          </tr>
        </table>
          <br>
<!--                       </ion-scroll>-->
      </div>
        <br>

     </ion-content>
  </ion-view>
</div>
