<ion-view view-title="Profile">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img src="icon-sam.jpg">
                <h2><i class="ion-calendar"></i>{{profile.birthdate}}</h2>
            </div>

            <p class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                {{profile.phonenumber}}
            </p>
            <img src="{{profile.img}}" class="fullscreen-image" width=370 height=270>
            <div class="item item-body">
                <p>
                    {{profile.description}}
                </p>
            </div>
            <div class="button-bar">
                <!-- <button class="button button-block button-positive">Facebook</button>
                <button class="button button-block button-calm">Twitter</button> -->
                <a class="button button-block button-positive" href="#" onclick="window.open('http://www.facebook.com/', '_system', 'location=yes'); return false;">
                    Facebook
                </a>
                <a class="button button-block button-calm" href="#" onclick="window.open('http://www.twitter.com/', '_system', 'location=yes'); return false;">
                    Twitter
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>