<ion-view view-title="Profil">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img src="blank-profile.png">
                <div ng-show="editBirthdate == null">
                    <h2>
                        <i class="ion-calendar"></i>{{profile.birthdate}}
                        <button class="button-calm" ng-click="startEditBirthdate()">Modifier</button>
                    </h2>
                </div>
                <div ng-show="editBirthdate != null">
                    <input size="2" maxlength="2" ng-model="updatedProfile.newBirthdateDay">-</input>
                    <input size="2" maxlength="2" ng-model="updatedProfile.newBirthdateMonth">-</input>
                    <input size="4" maxlength="4" ng-model="updatedProfile.newBirthdateYear"></input>
                    <button class="button-calm" ng-click="endEditBirthdate()">Modifier</button>
                </div>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                <div ng-show="editPhone == null">
                    {{profile.phonenumber}}
                    <button class="button-calm" ng-click="startEditPhone()">Modifier</button>
                </div>
                <div ng-show="editPhone != null">
                    (<input size="3" maxlength="3" ng-model="updatedProfile.newPhonenumberRegional">)</input>
                    <input size="3" maxlength="3" ng-model="updatedProfile.newPhonenumberFirstPart">-</input>
                    <input size="4" maxlength="4" ng-model="updatedProfile.newPhonenumberSecondPart"></input>
                    <button class="button-calm" ng-click="endEditPhone()">Modifier</button>
                </div>
            </div>
            <img ng-src="blank-profile.png" height="300" width="300"/>
            <div class="item item-body">
                <div ng-show="editDescription == null">
                    <p>{{profile.description}}</p>
                    <button class="button-calm" ng-click="startEditDescription()">Modifier</button>
                </div>
                <div ng-show="editDescription != null">
                    <textarea ng-model="updatedProfile.newDescription"></textarea>
                    <button class="button-calm" ng-click="endEditDescription()">Modifier</button>
                </div>
            </div>
            <div class="button-bar">
                <!-- <button class="button button-block button-positive">Facebook</button>
                <button class="button button-block button-calm">Twitter</button> -->
                <a class="button button-block button-positive" href="#" onclick="window.open('http://www.facebook.com/', '_system', 'location=yes'); return false;">
                    Facebook
                </a>
                <a class="button button-block button-calm" href="#" onclick="window.open('http://www.twitter.com/', '_system', 'location=yes'); return false;">
                    Twitter
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>