<ion-view view-title="Profile" ng-init="init()">
	<ion-content class="has-header">
		<div class="list card" id="cardProfile">
			<div class="profile-img" id="wide">
				<img ng-show="profile.imgName != null" ng-src="https://files.backand.io/cdeapp/{{profile.imgName}}"/>
			</div>
            <i class="ion-camera icon-large-size float-Right" id="narrow" ng-click="startEditPhoto()" ng-show="editPhoto == null"></i>
            <i class="ion-camera icon-large-size float-Right" id="narrow" ng-click="endEditPhoto()" ng-show="editPhoto != null"></i>
			<div class="item item-avatar profile-avatar" align="center" id="info">
				<!--<img class="blank-profile" src="blank-profile.png" />-->
				<div ng-show="editName == null">
					<h1 style="display:inline;">
						{{profile.name || "Your name"}}
					</h1>
          <h2 style="display:inline;">
            <i class="ion-edit" ng-click="startEditName()"></i>
          </h2>
				</div>
				<div class="edit-name" ng-show="editName != null">
					<input ng-model="updatedProfile.newName" placeholder="25 characters maximum" maxlength="25"></input>
					<i class="ion-ios-checkmark icon-medium-size" ng-click="endEditName()"></i>
				</div>
				<div  class="edit-profession" ng-show="editProfession == null">
					<h2>
						{{profile.profession || "Your profession "}}
						<i class="ion-edit" ng-click="startEditProfession()"></i>
					</h2>
				</div>
				<div class="edit-profession" ng-show="editProfession != null">
					<input ng-model="updatedProfile.newProfession" placeholder="25 characters maximum" maxlength="25"></input>
          			<i class="ion-ios-checkmark icon-medium-size" ng-click="endEditProfession()"></i>
				</div>
			</div>

			<div ng-show="editPhoto != null">
				<form role="form" name="uploadForm">
					<div class="row">
						<input id="fileInput" type="file" accept="*/*" ng-model="filename" />
					</div>
					<div class="row">
						<button class="button" ng-click="imageChanged()">Submit</button>
					</div>
				</form>
			</div>

            </br>

			<div class="item item-body">
				<div ng-show="editDescription == null">
					<p>
                        {{profile.description || "Tell us a little about yourself and what you want to learn this weekend!"}}
                        <i class="ion-edit" ng-click="startEditDescription()"></i>
                    </p>
				</div>
				<div class="edit-description" ng-show="editDescription != null" class="edit-description">
					<textarea maxlength="250" placeholder="250 characters maximum" ng-model="updatedProfile.newDescription"></textarea>
          			<div class="float-Right">
						<button class="button" ng-click="endEditDescription()" id="saveButton">Save</button>
            		</div>
				</div>
			</div>
			</br>
			<div>
				<h3 style="text-align: center">Events</h3>
                <br/>
				<ion-scroll style="height:200px; margin-right: 10px;" class="scrollVertical" direction="y">
					<div class="list">
						<div id="events" ng-repeat="n in userEvents() | orderBy"  >
							<div id="row" class="item item-divider" >
								- {{ n }}
							</div>
						</div>
					</div>
				</ion-scroll>
			</div>
			<!--<div class="button-bar">-->
				<!--<a class="button button-block button-positive" ng-href="#" onclick="window.open('http://www.facebook.com/', '_system', 'location=yes'); return false;">-->
					<!--Facebook-->
				<!--</a>-->
				<!--<a class="button button-block button-calm" ng-href="#" onclick="window.open('http://www.twitter.com/', '_system', 'location=yes'); return false;">-->
					<!--Twitter-->
				<!--</a>-->
			<!--</div>-->
		</div>
	</ion-content>
</ion-view>
