<ion-modal-view>
    <link href="css/style.css" rel="stylesheet">
        <ion-content class="padding">
            <div class="background">
                <div class="bodyLogin">
                    <img src="img/cde_logo.png" style="width:95%; margin-top: 15%;">
                        <div class="list list-inset">
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Nom d'Utilisateur</span>
                                <input type="text" placeholder="Lettres, nombres et tirets" ng-model="dataEnteredRegister.username">
                            </label>
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Nom</span>
                                <input type="text" placeholder="Nom" ng-model="dataEnteredRegister.name">
                            </label>
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Mot de Passe</span>
                                <input type="password" placeholder="Au moins 6 caractères" ng-model="dataEnteredRegister.password">
                            </label>
                        </div>
                        <div class="buttonLogin">
                            <button class="button" ng-click="Register()">Enregister</button>
                            <button class="button" ng-click="Cancel()">Annuler</button>
                        </div>
                </div>
            </div>
        </ion-content>
</ion-modal-view>
