<ion-modal-view>
    <link href="css/style.css" rel="stylesheet">
        <ion-content class="padding">
            <div class="background">
                <div class="bodyLogin">
                    <img src="img/cde_logo.png" style="width:95%; margin-top: 15%;">
                        <div class="list list-inset">
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Username</span>
                                <input type="text" placeholder="Letters, numbers and underscores" ng-model="dataEnteredRegister.username">
                            </label>
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="First and last name" ng-model="dataEnteredRegister.name">
                            </label>
                            <label class="item item-input item-stacked-label login">
                                <span class="input-label">Password</span>
                                <input type="password" placeholder="At least 6 chars" ng-model="dataEnteredRegister.password">
                            </label>
                        </div>
                        <div class="buttonLogin">
                            <button class="button" ng-click="Register()">Register</button>
                            <button class="button" ng-click="Cancel()">Cancel</button>
                            <!--<button class="button" ng-click="goFrench()">Français</button>-->
                        </div>
                </div>
            </div>
        </ion-content>
</ion-modal-view>
