<ion-view view-title="Schedule">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <ion-content>
    <p></p>
    <div class="bar bar-header bar-calm nav-icon">
      <h1 class="title">{{ putNewDate(defaultDate.clientSide, dates) }}</h1>
      <i class="ion-android-arrow-dropdown icon-large-size icon-right" ng-click="popover.show($event)" ></i>
    </div>
      <br></br>
    <ion-list>
      <div ng-repeat="entity in events">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(entity)"
                  ng-class="{active: isGroupShown(entity)}">
          <i class="icon" ng-class="isGroupShown(entity) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          <i class="ion-calendar"></i>
          <b>{{entity.name}}</b>
          <p></p>
          {{entity.starttime}} - {{entity.endtime}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-if="isGroupShown(entity)">
          Description
          <p id="openBox">{{ entity.description }}</p>
          <p>Where</p>
          <p></p>
          {{ entity.place }}
          <p></p>
          <div ng-if="entity.speaker !==null">
          <p>Speaker(s)</p>
          <p></p>
          {{ entity.speaker }} {{ entity.attending }}
          </div>
          <p>Users Attending:</p>
            <ion-scroll style="height:100px" class="scrollVertical" direction="y">
              <div class="list">
                  <div ng-repeat="n in getMappingOfEventToUsers(entity.id) | orderBy"  >
                    <div class="item item-divider" >
                      {{ n }}
                    </div>
                    </div>
              </div>
            </ion-scroll>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <!--<div>-->
            <!--<input type="button" value="Register!" style="display: block; margin: 0 auto;"-->
            <!--ng-click="registerUser(entity.id)">-->
          <!--</div>-->

          <button class="button button-balanced" style="display: block; margin: 0 auto">
            Register!
          </button>

        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view style="width:300px !important">
    <ion-header-bar>
      <h1 class="title">Select A Date</h1>
    </ion-header-bar>
    <ion-content>
      <ion-radio ng-repeat="item in dates"
                 ng-value="item.value"
                 ng-model="defaultDate.clientSide">
        {{ item.text }}
      </ion-radio>
      <!--<ion-radio ng-model="feedFilterLevel" value="0" select="selected" ng-click="getDateChosen(0)">{{ dates[0] }}</ion-radio>-->
      <!--<ion-radio ng-model="feedFilterLevel" value="1" ng-click="getDateChosen(1)">{{ dates [1]}}</ion-radio>-->
      <!--<ion-radio ng-model="feedFilterLevel" value="2" ng-click="getDateChosen(2)">{{ dates[2] }}</ion-radio>-->

    </ion-content>
  </ion-popover-view>

</script>

<div ng-show="currentLanguage != 'french'">
  <ion-view view-title="Calendrier">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <ion-content>
      <p></p>
      <div class="bar bar-header bar-calm nav-icon">
        <i class="ion-android-arrow-dropleft-circle icon-large-size icon-left"></i>
        <h1 class="title" ng-click="">Samedi 14 Novembre, 2016</h1>
        <i class="ion-android-arrow-dropright-circle icon-large-size icon-right"></i>
      </div>
      <br></br>
      <ion-list>
        <div ng-repeat="entity in dayOneEvents">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(entity)"
                    ng-class="{active: isGroupShown(entity)}">
            <i class="icon" ng-class="isGroupShown(entity) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <i class="ion-calendar"></i>
            <b>{{entity.name}}</b>
            <p></p>
            {{entity.starttime}} - {{entity.endtime}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-if="isGroupShown(entity)">
            <table class="myTable">
              <tr>
                <td>Description:</td>
                <td>{{ entity.description }}</td>
              </tr>
              <tr>
                <td>Emplacement:</td>
                <td>{{ entity.place }}</td>
              </tr>
              <tr  ng-if="entity.speaker !== null">
                <td>Conférentier(s):</td>
                <td>{{ entity.speaker }} {{entity.attending}}</td>
              </tr>
            </table>
            <br>

            <!--<div id="scrollable-area">-->
              <!--<table ng-table="tableParams" class="table"  fixed-table-headers="scrollable-area">-->
                <!--<tr ng-repeat="user in ">-->
                  <!--<td data-title="'Name'">{{user.name}}</td>-->
                  <!--<td data-title="'Age'">{{user.age}}</td>-->
                <!--</tr>-->
              <!--</table>-->
            <!--</div>-->

            <!--<table class="myTable">-->
              <!--<tr>-->
                <!--<td>-->
              <!--</tr>Users Attending:-->
              <!--</td>-->
              <!--<td ng-repeat="n in getMappingOfEventToUsers(entity.id)"> {{ n }}</td>-->
            <!--</table>-->
            <p class="text-center">Membres Inscrits:</p>
              <ion-scroll style="height:100px" class="scrollVertical" direction="y">
                <div class="list">
                    <div ng-repeat="n in getMappingOfEventToUsers(entity.id) | orderBy"  >
                      <div class="item item-divider" >
                        {{ n }}
                      </div>
                      </div>
                </div>
              </ion-scroll>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div>
              <input type="button" value="Register!" style="display: block; margin: 0 auto;"
              ng-click="registerUser(entity.id)">
            </div>

          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-view>
</div>
