<ion-view view-title="Schedule">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <ion-content>
    <p></p>
    <div class="font-size-title capitalize" style="text-align:center">
      <p>{{ putNewDate(defaultDate.clientSide, dates) }}</p>
      <i style="padding-right:10px;" class="icon ion-android-more-vertical icon-large-size icon-right" ng-click="popover.show($event)" ></i>
    </div>
    <ion-list>
      <div ng-repeat="entity in events | orderBy : 'starttime'" class="inner">
        <ion-item id="cardSchedule" class="item-stable item-schedule"
                  ng-click="toggleGroup(entity);getIdOfEvent(entity.id)"
                  ng-class="{active: isGroupShown(entity)}">
          <i style="color:white" class="ion-android-arrow-dropdown icon-large-size icon-right activated " ng-class="isGroupShown(entity) ? 'icon ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"></i>
          &nbsp;
          <div class="font-size-small" style="display:inline-block">{{entity.starttime}} - {{entity.endtime}}</div>
          <div class="font-size-title capitalize" id="openBox"> {{entity.name}}</div>
        </ion-item>
        <ion-item class="item-accordion border-white"
                  ng-if="isGroupShown(entity)">
            <br>
          <h2 class="title-bigger"><b>Description:</b></h2>
          <h3 class="bigger openBox schedule-spacing">{{ entity.description }}</h3>
            <br>
          <h2 class="title-bigger"><b>Where:</b></h2>
          <h3 class="bigger openBox schedule-spacing">{{ entity.place }}</h3>
            <br>
          <span ng-if="entity.speaker != null" ng-click="redirectToSpeaker(entity.speaker)">
          <h2 class="title-bigger"><b>Speaker(s)</b></h2>
          <h3 class="bigger openBox schedule-spacing">{{ entity.speaker }} {{ entity.attending }}  </h3>
            <br>
          </span>
          <h2 class="title-bigger"><b>{{ calculateNumberOfPeopleAttending() }} Delegate(s) Attending:</b></h2>
          <ion-scroll style="height:120px" class="scrollVertical schedule-spacing" direction="y">
            <div class="list">
              <div ng-repeat="n in getMappingOfEventToUsers(entity.id) track by $index | orderBy "  >
                <div class="item item-divider  item-people-attending" >
                  <h3 class="bigger openBox"> {{ n }}</h3>
                </div>
              </div>
            </div>
          </ion-scroll>

          <!--<button class="button" ng-class="(eventRegistered || registered) ? 'button-balanced' : 'button-assertive'"-->
                  <!--ng-click="registerForEvent(entity.id)"-->
                  <!--type="button"-->
                  <!--style="display: block; margin: 0 auto">-->
            <!--{{ (eventRegistered) ? 'Registered' : 'Register' }}-->
          <!--</button>-->

          <button class="button button-assertive buttonLogin"
                  ng-click="registerForEvent(entity.id)"
                  type="button"
                  style="display: block; margin: 0 auto; ">
            Register
          </button>

          <!--<button class="btn" style="display: block; margin: 0 auto" ng-click="registerForEvent(entity.id)">-->
          <!--<i ng-class="(registeredInBackend == 'yes') ? 'button-balanced' : 'button-assertive'"></i>-->
          <!--Register-->
          <!--</button>-->

        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view style="width:300px !important">
    <ion-header-bar>
      <h1 class="title-bigger">Select A Date</h1>
    </ion-header-bar>
    <ion-content>
      <ion-radio ng-repeat="item in dates"
                 ng-value="item.value"
                 ng-model="defaultDate.clientSide"
                 class="text-align-center ">
        {{ item.text }}
      </ion-radio>
    </ion-content>
  </ion-popover-view>
</script>
