<ion-view view-title="Conférenciers">
	<ion-modal-view>
		<ion-content class="padding">
		<div class="list card">
				<div class="item item-avatar profile-avatar" ng-repeat="s in speakersInfo">
					<a class="item item-avatar" ng-href="#/homeMenu/userProfilefr" ng-click="setSpeakerSelected(s.username)">
				      	<img ng-show="s.photo != null" ng-src="https://files.backand.io/cdeapp/{{s.photo}}" />
						<img ng-show="s.photo == null" ng-src="blank-profile.png" />
				      	<span>{{s.name}}</span>
				    </a>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
</ion-view>