<ion-view view-title="Registered Speakers">
  <ion-content>
   <div class="list">

	    <a class="item item-avatar" ng-href="#/homeMenu/profile">
	      <img src="icon-sam.jpg">
	      <h2>Samuel Cauchon</h2>
	      <p>Software Engineering Undergraduate</p>
	    </a>

	    <a class="item item-avatar" ng-href="#/homeMenu/profileRaluca">
	      <img src="raluca-icon.jpg">
	      <h2>Raluca Niti</h2>
	      <p>Software Engineering Undergraduate</p>
	    </a>

	    <a class="item item-avatar" ng-href="#/homeMenu/profileVasu">
	      <img src="vasu-icon.jpg">
	      <h2>Vasu Gupta</h2>
	      <p>Software Engineering Undergraduate</p>
	    </a>

	    <a class="item item-avatar" ng-href="#/homeMenu/profileLianna">
	      <img src="lianna-icon.jpg">
	      <h2>Lianna Yang</h2>
	      <p>Software Engineering Undergraduate</p>
	    </a>    

	</div>
  </ion-content>
</ion-view>
