/* Empty. Add your own CSS if you like */

#nav-icon {
  position: relative;
}

.icon-large-size {
  font-size: 40px
}
.icon-medium-size{
  font-size:20px;
}

.icon-left{
  position:absolute;
  top:-10px;
  left:5px;
}

.icon-right{
  position: absolute;
  top: -10px;
  right: 5px;
}

.paddingLarge{
  padding:12px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  white-space: normal;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.myTable { background-color:white;
  border-collapse:collapse;
  color:black;
}
.myTable td, .myTable th { padding:5px; }
.myTable td { line-height:1.5em; }

